$mainColor: #fff;
$subtitleColor: rgba(255, 255, 255, 0.3);

$primaryGrey: #1f1f26;
$secondaryGrey: #302f40;
$dark: #0a090d;

$action: #4369d9;
$semiTransparentAction: rgba(67, 105, 217, 0.1);

$semiTransparentDark: rgba(10, 9, 13, 0.5);

$desktop: 1024px;
$tablet: 768px;
